@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Birthstone Bounce", cursive, "Poppins", sans-serif; */
  /* font-family: ; */
}
body {
  display: flex;
  justify-content: center;
}
.cover-date {
  position: relative;
  width: 375px;
  height: 100vh;
  flex-shrink: 0;
  box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.25) inset;
  padding-top: 20px;
}

.light-red {
  background: #831e1f;
}
.dark-red {
  background: #3d161a;
}
.slate-800 {
  background: #050810;
}
.bg-white {
  background: #fff;
}

.main-container {
  width: 390px;
  background-size: cover;
  background-image: url("/img/bgoval.png");
  overflow-x: hidden;
}
.main-container-none {
  width: 390px;
  overflow-x: hidden;
  padding-top: 0;
}

.cover-main {
  width: 335px;
  height: 772px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
}
.cover-padding {
  padding-top: 139px;
}
.cover-padding-60 {
  padding-top: 60px;
}

.img-cover {
  position: absolute;
  left: 22px;
  top: 16px;
}
/* Font nih bos */
.display-center {
  display: flex;
  justify-content: center;
}
.color-linear {
  background: -webkit-linear-gradient(275deg, #ffe5a8, #e8b439, #d8a217);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-linear-v2 {
  background: -webkit-linear-gradient(
    275deg,
    rgba(255, 230, 142, 1),
    rgba(216, 162, 23, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-white {
  color: #fff;
}
.color-secondary {
  color: #fdce5f;
}
.color-opacity {
  opacity: 0.7;
}
.color-orange {
  color: #e1931e;
}

.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.married-14-pop {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
}
.married-20-pop {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.married-16-pop {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}
.married-20-pop {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.married-12-pop {
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.married-18-pop {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.married-26-birth,
.married-32-birth,
.married-42-birth,
.married-52-birth,
.married-60-birth,
.married-72-birth,
.married-86-birth {
  font-family: Birthstone Bounce;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.married-26-birth {
  font-size: 26px;
  text-align: center;
}
.married-32-birth {
  text-align: center;
  font-size: 32px;
}
.married-42-birth {
  font-size: 42px;
}
.married-52-birth {
  font-size: 52px;
}
.married-60-birth {
  font-size: 60px;
}
.married-72-birth {
  font-size: 72px;
}
.married-86-birth {
  font-size: 86px;
}

.text-center {
  text-align: center;
}
.text-itallic {
  font-style: italic;
}
.cover-couple-box {
  text-align: center;
}
.place-box {
  margin-top: 10px;
  text-align: center;
}
.swipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 61px;
}
.ornament {
  width: 225.757px;
  height: 251px;
  flex-shrink: 0;
}
.ornament1 {
  transform: rotate(180deg);
  position: absolute;
  top: 21px;
  right: 29px;
}
.ornament2 {
  position: absolute;
  top: 553px;
  left: 29px;
}

.restu {
  margin-left: auto;
  margin-right: auto;
  width: 375px;
  text-align: center;
}
.padding-top-56 {
  padding-top: 56px;
}

.greeting-box {
  width: 327px;
  text-align: center;
  margin: auto;
  margin-top: 24px;
  display: grid;
  gap: 18px;
}

.picture-married {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 36px;
}
.flex-column {
  flex-direction: column;
}

.img-ellipse {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  border-width: 2px;
  border-style: solid;
  border-radius: 1000px;

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.1, #ffe5a8),
    color-stop(0.67, #e8b439),
    color-stop(0.2, #ca920e)
  );
  background-image: -moz-linear-gradient(center bottom);
  padding: 2px;
  object-fit: cover;
  margin-bottom: 16px;
}

.name-box {
  display: flex;
  width: 140px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.name-box-single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* ringkasan acara  */
.ringkasan-acara {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.padding-top-134 {
  padding-top: 134px;
}

.ringkasan-header-box {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 28px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img-radius {
  border-radius: 4px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
.img-240 {
  width: 327px;
  height: 240px;
}

.img-230 {
  width: 327px;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
}

.akad-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 16px;
  width: 327px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32;
}

.married-14-pop-orange {
  color: #e1931e;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 24px;
  margin-bottom: 36px;
}

/* Our Story Section */
.ourstory {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 102px;
}

.ourstory-header-box {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.item-text {
  width: 279px;
}

/* Message */
.message {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card {
  display: inline-flex;
  padding: 12px 16px;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  background: white;
  border-radius: 4px 16px 16px 16px;
  margin-top: 20px;
  margin-left: 18px;
}
.card-right {
  position: relative;
  right: -166px;
  padding: 12px 16px;
  align-items: flex-end;
  text-align: end;
  gap: 4px;
  border-radius: 16px 4px 16px 16px;
  background: #fff;
  margin-top: 20px;
  margin-right: 18px;
  max-width: 194px;
}
.card-title {
  color: #10288a;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 161.538% */
  letter-spacing: -0.3px;
}
.card-isi {
  max-width: 275px;
  color: #10288a;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 161.538% */
  letter-spacing: -0.3px;
}
.message-title {
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 318px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.ucapan {
  margin-top: 54px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.form-linear {
  width: 100%;
  height: 52px;
  top: 30px;
  left: 20px;
  padding: 15px 31px 15px 16px;
  border-radius: 16px;
}
.form-grup {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
}
.form-grup-col {
  display: flex;
  gap: 17px;
}
.box-form {
  width: 338px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 12px;
}
.box-form textarea {
  width: 339px;
  height: 106px;
  flex-shrink: 0;
}

.btn-add {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border: none;
  color: #871e1f;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: linear-gradient(
      110deg,
      #ffe5a8 -12.7%,
      #ca920e 94.32%,
      #e8b439 94.32%
    ),
    #fff;
  box-shadow: 0px 10px 16px 0px rgba(14, 21, 89, 0.16);
}
.btn-add-white {
  margin-top: 24px;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
  /* width: fit-content; */
  border: none;
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 10px 16px 0px rgba(14, 21, 89, 0.16);
}
.btn-submit {
  display: flex;
  width: 339px;
  padding: 18px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0px;
  border-radius: 8px;
  background: #e1931e;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 32px;
  margin-bottom: 34px;
}

/* Amplop Digital */

.payment {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ornament-full {
  display: flex;
  justify-content: center;
  align-items: start;
}
.payment-header {
  margin-top: 30px;
  width: 327px;
  margin-right: auto;
  margin-left: auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.payment-header p {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.item-payment {
  display: flex;
  gap: 10px;
  margin-top: 32px;
}
.img-payment-box {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #3d161a;
}
.img-payment-box a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 6px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.qr-code-box {
  width: 280px;
  height: 360px;
  border-radius: 40px;
  background: #fff;
  margin-top: 36px;
  margin-bottom: 112px;
  display: inline-block;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.qr-code-box p {
  margin-bottom: 20px;
}
.img-qr {
  margin-top: 40px;
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
}

.box-327 {
  width: 327px;
  display: flex;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  gap: 10px;
  margin-top: 16px;
}

.name-close {
  margin-top: 47px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
}
.hr-linear {
  width: 40px;
  border: 1px solid transparent;
  background: linear-gradient(45deg, #ffe68e, #d8a217) border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}

.hr-white {
  width: 40px;
  border: 1px solid white;
  background: white;
}

.close-alert {
  color: #fff;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 55px;
  margin-bottom: 16px;
  text-align: center;
}

.close-item {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.img-ellipse-36 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10000px;
  border: 0.6px solid #ffe68e;
}

.close-last {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}
.img-last {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.mempelai {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-mempelai {
  width: 307px;
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 27px;
  margin-left: auto;
  margin-right: auto;
}
.img-mempelai {
  width: 110px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 8px;
  object-fit: cover;
}
.name-item-mempelai {
  display: flex;
  width: 180px;
  height: 124px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}
.name-item-mempelai hr {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  opacity: 30%;
}
.map-box {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.map-box {
  width: 327px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 4px;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
